* {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-size: 1rem;
}

p {
  font-size: 16px;
  font-family: "PT Sans", sans-serif;
  color: #6b6b6c;
  line-height: 24px;
  font-weight: 400px;
}

h1 {
  line-height: 90px;
  font-size: 60px;
  letter-spacing: 16%;
  font-family: "Familjen Grotesk", sans-serif;
}

h2 {
  font-size: 52px;
  color: #363738;
  line-height: 65px;
  font-family: "Exo 2", sans-serif;
}

h3 {
  font-family: "Exo 2", sans-serif;
  color: #363738;
  line-height: 60px;
  font-size: 48px;
}

h4 {
  color: #363738;
  line-height: 27px;
  font-weight: 600;
  font-size: 20px;
  font-family: "Exo 2", sans-serif;
}

a {
  border-bottom: 3px solid #ffce50;
  text-decoration: none;
  font-size: 20px;
  font-family: "Exo 2", sans-serif;
  color: #363738;
  transition: 2s all;
}

a:hover {
  opacity: 0.8;
}

main {
  max-width: 1440px;
  margin: auto;
  overflow: hidden;
}

.box--inline {
  margin: auto;
  padding: 1rem;
  max-width: 1240px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  margin: 11rem auto 0px;
}
.box--inline .box--text {
  width: 100%;
  align-content: center;
  margin-bottom: 50px;
}
@media screen and (max-width: 700px) {
  .box--inline .box--text {
    width: 100%;
    max-width: 610rem;
    text-align: center;
  }
}
.box--inline .box--text p {
  margin-block: 4rem;
}
.box--inline .box--truck {
  width: 100%;
  background-color: #0b7572;
  margin-left: 50px;
}
@media screen and (max-width: 700px) {
  .box--inline .box--truck {
    margin: auto;
    width: 100%;
  }
}

.box--top {
  margin: auto;
  padding: 1rem;
  max-width: 1240px;
  margin: 6.7rem auto 6.7rem;
  align-self: stretch;
  max-width: 1240px;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  background-color: #d7d7dd;
  box-shadow: 7px 10px 37px 3px rgba(0, 0, 0, 0.57), 7px 10px 37px 3px rgba(0, 0, 0, 0.57), 7px 10px 37px 3px rgba(0, 0, 0, 0.57);
}
@media screen and (max-width: 500px) {
  .box--top {
    width: 100%;
    background-color: transparent;
    box-shadow: none;
    margin: 5rem;
  }
}
.box--top .box__section {
  margin: auto;
  padding: 3rem;
  align-self: stretch;
  margin-right: 1px;
  background-color: #ffffff;
  margin-bottom: 0.5rem;
}
@media screen and (max-width: 500px) {
  .box--top .box__section {
    width: 100%;
    box-shadow: 7px 10px 37px 3px rgba(0, 0, 0, 0.57), 7px 10px 37px 3px rgba(0, 0, 0, 0.57), 7px 10px 37px 3px rgba(0, 0, 0, 0.57);
  }
}
.box--top .box__section h4 {
  margin: 2.4rem auto 1.6rem;
}
.box--top .box__section p {
  line-height: 27px;
}
.box--top .box__section .box__icon {
  width: 92px;
  text-align: center;
  align-content: center;
  height: 92px;
  border-radius: 50%;
  background-color: #e9e9ec;
}

.box--overlay {
  margin: auto;
  width: 100%;
  max-width: 1240px;
  height: 453px;
  background-image: url(../img/png/overlay\ truck.png);
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (max-width: 345px) {
  .box--overlay {
    display: none;
  }
}
.box--overlay .box--text {
  height: 100%;
  background-image: linear-gradient(60deg, #0b7572 0%, #0b7572 40%, rgba(0, 0, 0, 0.26) 40%);
  padding-inline: 2rem;
}
.box--overlay .box--text h3 {
  align-content: center;
  font-size: 52px;
  max-width: 362px;
  color: #ffffff;
  height: 100%;
  text-align: left;
  margin-left: 3rem;
}

.box--bottom {
  margin: auto;
  padding: 1rem;
  max-width: 1240px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  border-radius: 20px;
  margin-left: 10rem;
  max-width: 124.2rem;
  align-items: stretch;
  margin-bottom: 12.5rem;
  margin-top: 7.2rem;
}
.box--bottom .box__text {
  align-items: stretch;
}
.box--bottom .box__parts {
  width: 100%;
  max-width: 44.7rem;
  margin-bottom: 6.2rem;
}
.box--bottom .box__parts h4 {
  font-size: 20px;
}
.box--bottom .box__parts p {
  font-size: 16px;
}
.box--bottom .box__parts .box__icon {
  max-width: 8rem;
  width: 100%;
  height: 8rem;
  background-color: #d7d7dd;
  border-radius: 50%;
  text-align: center;
  align-content: center;
  margin-right: 4rem;
}

.container--factory {
  margin: auto;
  padding: 1rem;
  max-width: 1240px;
  margin: auto;
}
.container--factory a {
  margin-top: 3.2rem;
}
.container--factory .box--columns {
  margin-top: 5.6rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}
.container--factory .box--columns h4 {
  margin-top: 3.4rem;
}
.container--factory .box--columns p {
  margin-block: 3.4rem;
  line-height: 24px;
}
.container--factory .box--child img {
  background-color: transparent;
  max-width: 39.3rem;
  width: 100%;
}
@media screen and (max-width: 729px) {
  .container--factory .box--child img {
    display: grid;
    grid-template-columns: auto;
    margin: 0px;
  }
}

.box--heading {
  margin: auto;
  padding: 1rem;
  max-width: 1240px;
  margin-top: 12rem;
}

.container--middle {
  padding-left: 5rem;
  margin-top: 4.8rem;
}
.container--middle .container--first {
  margin: auto;
  padding: 1rem;
  max-width: 1240px;
  border-radius: 1rem;
  display: flex;
  box-shadow: 7px 10px 37px 3px rgba(0, 0, 0, 0.57), 7px 10px 37px 3px rgba(0, 0, 0, 0.274), 7px 10px 37px 3px rgba(0, 0, 0, 0.295);
  margin-bottom: 4rem;
  margin-left: 4rem;
}
.container--middle .container--first .box--line {
  max-width: 8.6rem;
  border-bottom: 3px solid #ffce50;
  margin-block: 2.4rem;
}
.container--middle .container--first .text {
  max-width: 50%;
  box-shadow: none;
  display: block;
}
.container--middle .box__item {
  margin-left: 10rem;
  align-content: center;
}

.container--logos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 3rem;
  max-width: 1240px;
  width: 100%;
  padding: 4.6rem;
  justify-content: space-between;
  margin: auto;
  text-align: center;
  margin: auto;
  padding: 1rem;
  max-width: 1240px;
  margin-top: 8rem;
  text-align: center;
  margin: auto;
}
.container--logos div {
  max-width: 18.4rem;
  text-align: center;
  align-items: center;
  align-content: end;
  max-height: 17.8rem;
  margin: auto;
  margin-top: 5rem;
}
.container--logos div h4 {
  margin-bottom: 1.4rem;
}

.box--heading--last {
  margin: auto;
  padding: 1rem;
  max-width: 1240px;
  margin-block: 13rem 7.2rem;
}

.partners--box {
  margin: auto;
  padding: 1rem;
  max-width: 1240px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  column-gap: 2rem;
  row-gap: 2rem;
}
.partners--box .box--anton {
  max-width: 60.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 2.5rem 5rem;
  margin: auto;
  margin-bottom: 2rem;
  align-items: stretch;
  align-content: center;
  grid-template-rows: auto auto;
  background-color: transparent;
  box-shadow: 10px 1px 30px -15px rgba(0, 0, 0, 0.43), 10px 1px 30px -15px rgba(0, 0, 0, 0.43), 10px 1px 30px -15px rgba(0, 0, 0, 0.43);
  border-left: 30px #0b7572 solid;
  transition: 2s all;
}
.partners--box .box--anton a {
  margin-block: 1.2rem;
}
.partners--box .box--anton .logos img {
  margin-inline: 1rem;
  margin-block: 3.2rem;
}
.partners--box .box--anton .man--picture {
  margin-right: 4rem;
}
.partners--box .box--anton:hover {
  border: 2px gray solid;
  transition: 2s all;
  box-shadow: none;
}

.box--footer {
  margin: auto;
  padding: 1rem;
  max-width: 1240px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-content: space-between;
  align-items: stretch;
  padding: 7rem 3.5rem;
}
.box--footer a {
  border-bottom: none;
}
.box--footer .box--left {
  margin-block: 1rem 3rem;
  background-color: transparent;
}
.box--footer .box--left .box--short--cuts {
  max-width: 24.8rem;
  display: grid;
  grid-template-columns: 0.3fr 1fr;
  margin-bottom: 4.4rem;
  align-content: center;
}
.box--footer .box--right {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-template-rows: auto auto auto auto;
  max-width: 79.8rem;
  width: max-content;
  gap: 1rem;
  padding: 3rem;
  background-color: #f9f9fb;
  border-radius: 5px;
}
.box--footer .box--right hr {
  height: 1px;
}
.box--footer .box--right a {
  font-weight: 600;
  margin-bottom: 2rem;
}
.box--footer .box--right .right--wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  width: 100%;
}
@media screen and (max-width: 500px) {
  .box--footer .box--right .right--wrapper {
    display: block;
    margin-bottom: 2rem;
    align-items: stretch;
    max-width: 80%;
  }
}

.box--truck {
  margin: auto;
  padding: 1rem;
  max-width: 1240px;
  height: 600px;
  background-image: url(../img/png/white\ long\ truck\ 1.png);
  background-repeat: no-repeat;
  background-position: center;
  object-fit: cover;
  background-size: cover;
  background-color: #6b6b6c;
}
.box--truck img {
  align-items: stretch;
  max-width: 200%;
  align-content: center;
  max-width: 122rem;
}

.footer {
  margin: auto;
  margin-top: 16.6rem;
  padding: 9.5rem 6rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  justify-content: space-between;
  max-width: 144rem;
  width: 100%;
  background-color: #0b7572;
  color: #ffffff;
}
.footer .socials {
  margin-top: 3rem;
  display: flex;
}
.footer .socials :nth-child(1) {
  margin-right: 1.43rem;
}
.footer .socials img:hover {
  opacity: 0.8;
}
.footer a {
  color: white;
  border-bottom: none;
  line-height: 4rem;
}
.footer a {
  padding-block: 2.5rem;
}
.footer a img {
  margin-bottom: 9.18rem;
  line-height: 4rem;
  align-content: center;
}
.footer .heading__logo h1 {
  font-size: 60px;
}
.footer h1 {
  line-height: 4rem;
  margin-block: 2rem;
}
.footer ul {
  margin-block: 2rem;
}
@media screen and (max-width: 800px) {
  .footer {
    align-content: center;
    margin: auto;
    width: 100%;
    padding: 2rem;
    margin-top: 6.6rem;
  }
}

button {
  border: none;
  background-color: #ffce50;
  font-size: 16px;
  padding: 1rem;
  cursor: pointer;
  transition: 2s all;
}

button:hover {
  background-color: #e9e9ec;
  color: #363738;
}

.copyright {
  background-color: #0b7572;
}
.copyright p {
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  align-content: center;
  letter-spacing: 16%;
  line-height: 24px;
}

/*# sourceMappingURL=style.css.map */
